html(xmlns="http://www.w3.org/1999/xhtml")
    head
        title  Daily Data Insights 
        meta(http-equiv="content-type", content="text/html;charset=utf-8")
        link(href="../css/tipsy.css", rel="stylesheet", type="text/css")
        link(rel="stylesheet", href="../css/styleZen.css", type="text/css")
        link(rel="stylesheet", href="../css/2.css", type="text/css")
        link(rel="stylesheet", href="../commons/novus-nvd3-6616c9e/src/nv.d3.css", type="text/css")
        link(rel="shortcut icon", href="../img/favicon.ico")
        link(rel="shortcut icon", href="../commons/bootstrap-3.1.1/css/bootstrap.css")
        link(rel="stylesheet", href="../css/bootstrapSubset.css")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(type="text/javascript", src="../js/jquery.infinitescroll.js")
    script(type="text/javascript", src="../js/manual-trigger.js")
    script(type="text/javascript", src="../js/jquery.tipsy.js")
    script(src="../commons/d3.v3.min.js", charset="utf-8")
    script(src="../commons/bootstrap-3.1.1/js/bootstrap.js", charset="utf-8")

    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/lib/d3.v3.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/nv.d3.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/utils.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/models/axis.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/tooltip.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/interactiveLayer.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/models/legend.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/models/axis.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/models/scatter.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/models/stackedArea.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/models/stackedAreaChart.js")

    body
        .containerOne
            .top(style="text-align: !left; margin-bottom: -30px; margin-top: 10px; opacity: 0.5", onmouseover="this.style.opacity='1'; document.getElementById('menuItems').style.opacity='1'; document.getElementById('quotes').style.display='none';  document.getElementById('menuItems').style.display='block' ", onmouseout="this.style.opacity='0.5';document.getElementById('menuItems').style.opacity='0'; document.getElementById('menuItems').style.display='none'; document.getElementById('quotes').style.display='block'; ")
                div(style='height: 280;')
                    h1
                        a(href='/')
                            img(style='margin-bottom: 30px; margin-right: 20px;', src='../img/wikivisLogo.png', title='Daily Data Insights - Applied Data Science', height='150', width='150')
                        #menuItems(style='margin-bottom: 74px; margin-top: -40px; display: none; opacity: 0; padding-top: 20px;')
                            a(style='color: rgb(54,154,104);', href='/about/') about
                            |  :: 
                            a(style='color: rgb(9,106,156);', href='/') showroom
                            |  :: 
                            a(style='color: rgb(153,0,0);', href='/create/') create
                        blockquote#quotes(style='margin-top: -40px; padding-top: 20px; display: block;')


            #content

            article
                table(style="width: 100%")
                    tr
                        td

                            div(style="float:left")
                                div#upVoteDiv
                                    img(src="../img/up.svg", title="This visualisation shows research effort; it is clear and appropriate", height="39", style="cursor: pointer; margin-bottom: -10px;", onmouseover="this.style.opacity='0.5';", onmouseout="this.style.opacity='1';", onclick="upVote(1)")
                                div(style="text-align: center; opacity:0.5; width:45px")
                                    span#points
                                        img(style='padding: 0;', src='../img/loadinfo.net.gif', height='16px', width='16px')
                                div#downVoteDiv
                                    img(src="../img/down.svg", title="This visualisation does not show research effort; it is not clear or inappropriate", height="39", style="cursor: pointer; margin-top: -10px;", onmouseover="this.style.opacity='0.5';", onmouseout="this.style.opacity='1';", onclick="downVote(1)")
                            h2#insightTitle(style=" text-align: left; margin-top: 26px; margin-left: 60px; opacity: 0.8")
                                | *** loading title ***
                        td(style="opacity: 0.5", width="140px")
                            div#insightBadges(style="display:block; float: right;")
                                img(src="../img/badgeInteractive.png", title="This visualisation is interactive.", height="39", style="display:block; float: right; margin-top: 10px; margin-bottom: -10px; ")
                                img(src="../img/badgeTop.png", title="This visualisation is or has been voted amongst the top 5 visualisations of this page.", height="39", style="display:block; float: right; margin-top: 10px; margin-bottom: -10px; ")

                #contentSVG(style="margin-left: -20px;")
                div#insightDescription(style="margin-top: 30;")
                    div(style="margin-top: -40px;margin-bottom: 40px; ")
                        p(style="color:rgb(9,106,156);font-style:italic")
                            | Select/ deselect specific teams by clicking on the legend in the upper right corner or double-click on a team to hide all other. Change chart type to "Stacked" or "Stream" for a cumulative view.
                            p(style="color:rgb(153,0,0); font-weight: bold") *** This visualisation is daily updated until the end of the tournament ***
                table(style="width: 100%")
                    tr
                        td(colspan="2", style="opacity: 0.8", onmouseover="this.style.opacity='1'; ", onmouseout="this.style.opacity='0.8'; ")

                                p This insight shows the implied probability for each team to win the 
                                    strong(style='font-weight: bold;') World Cup 2014
                                    | , calculated by the odds on the specific day offered by the bookmaker 
                                    a(href='http://www.bet365.com', title='http://www.bet365.com', style='text-decoration:underline; ') Bet 365
                                    | .
                                    br
                                    |  As the tournament progresses all streams will fade to 0, except the one for the winning team.
                                    div(style='float:left;')
                                        | Source:
                                        a(title='http://odds.football-data.co.uk/football/world-cup/winner/' href='http://odds.football-data.co.uk/football/world-cup/winner/', style='opacity: 0.8;', onmouseover='this.style.opacity=\'0.5\';', onmouseout='this.style.opacity=\'0.8\';')  [1]

                                    div#postDate(style='float:right;')
                                        img(style='padding: 0;', src='../img/loadinfo.net.gif', height='16px', width='16px')
                    tr
                        td(colspan="2")
                            a(name='commentSection')
                            div(style="border-top: 1px solid #e7e7e7; margin-top: 70px; margin-bottom: 10px;")
                            h3(style="float: left; margin-bottom: 30px;margin-top: 10px;") Leave a comment


                            block content

                                div.addCommentForms(style="clear: both;")
                                    form( method="post", action="/create/2")
                                        div
                                            div
                                                input.form-control(style="background: #f9f9f9; margin-top: 10px;",type="text", class="nameTxt", name="username",placeholder='Name')
                                            div
                                                textarea.form-control(style="background: #f9f9f9; margin-top: 11px;",placeholder='Comment', rows='3', name='comment')
                                            div#addCommentSubmit
                                                input.btn.btn-default.btn-outline(style="margin-top: 10px;", type="submit", value="Submit")
                                br
                                br
                                #commentsSorted
                                #comments
                                    - each comment in comments
                                        div.comment
                                            h4
                                                div.name(style="float:left; font-weight: bold;")= comment.username
                                                small
                                                    div(style="float:right").created_at= comment.created
                                            br
                                            div.content(style="clear: both; padding-top: 5px;")= comment.content
                                            hr



        script(type="text/javascript", src="../js/2.js")
        script(type="text/javascript", src="../js/allInsights.js")