html(xmlns="http://www.w3.org/1999/xhtml")
    head
        title Projects - Dietmar Aumann
        
        link(rel='publisher', href='https://plus.google.com/u/0/100387325869371041986')
        link(rel='canonical', href='http://dailydatainsights.com/')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        link(href="../css/tipsy.css", rel="stylesheet", type="text/css")
        link(rel="stylesheet", href="../css/styleZen.css", type="text/css")
        link(rel="stylesheet", href="../css/3.css", type="text/css")
        link(rel="stylesheet", href="../commons/novus-nvd3-6616c9e/src/nv.d3.css", type="text/css")
        link(rel="shortcut icon", href="../img/favicon.ico")
        link(rel="shortcut icon", href="../commons/bootstrap-3.1.1/css/bootstrap.css")
        link(rel="stylesheet", href="../css/bootstrapSubset.css")
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(type="text/javascript", src="../js/jquery.infinitescroll.js")
    script(type="text/javascript", src="../js/manual-trigger.js")
    script(type="text/javascript", src="../js/jquery.tipsy.js")
    script(src="../commons/d3.v3.min.js", charset="utf-8")
    script(src="../commons/bootstrap-3.1.1/js/bootstrap.js", charset="utf-8")

    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/lib/d3.v3.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/nv.d3.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/utils.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/models/axis.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/tooltip.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/interactiveLayer.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/models/legend.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/models/axis.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/models/scatter.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/models/historicalBar.js")
    script(type="text/javascript", src="../commons/novus-nvd3-6616c9e/src/models/linePlusBarChart.js")

    body
        .containerOne
            .top(style="text-align: !left; margin-bottom: -30px; margin-top: 10px; opacity: 0.5", onmouseover="this.style.opacity='1'; document.getElementById('menuItems').style.opacity='1'; document.getElementById('quotes').style.display='none';  document.getElementById('menuItems').style.display='block' ", onmouseout="this.style.opacity='0.5';document.getElementById('menuItems').style.opacity='0'; document.getElementById('menuItems').style.display='none'; document.getElementById('quotes').style.display='block'; ")
                div(style='height: 180; margin-bottom: 100px;')
                    h1
                        a(href='/')
                            img(style='margin-bottom: 30px; margin-right: 20px;', src='../img/wikivisLogo.png', title='Dietmar Aumann - Projects', height='150', width='150')
                        #menuItems(style='margin-bottom: 74px; margin-top: -40px; display: none; opacity: 0; padding-top: 20px;')
                            a(style='color: rgb(9,106,156);', href='/') All Projects
                        blockquote#quotes(style='margin-top: -40px; padding-top: 20px; display: block;')


            #content

            article
                table(style="width: 100%")
                    tr
                        td

                            div(style="float:left")
                                div#upVoteDiv
                                    img(src="../img/up.svg", title="This visualisation shows research effort; it is clear and appropriate", height="39", style="cursor: pointer; margin-bottom: -10px;", onmouseover="this.style.opacity='0.5';", onmouseout="this.style.opacity='1';", onclick="upVote(1)")
                                div(style="text-align: center; opacity:0.5; width:45px")
                                    span#points
                                        img(style='padding: 0;', src='../img/loadinfo.net.gif', height='16px', width='16px')
                                div#downVoteDiv
                                    img(src="../img/down.svg", title="This visualisation does not show research effort; it is not clear or inappropriate", height="39", style="cursor: pointer; margin-top: -10px;", onmouseover="this.style.opacity='0.5';", onmouseout="this.style.opacity='1';", onclick="downVote(1)")
                            h2#insightTitle(style=" text-align: left; margin-top: 26px; margin-left: 60px; opacity: 0.8")
                                | *** loading title ***
                        td(style="opacity: 0.5", width="140px")
                            div#insightBadges(style="display:block; float: right;")
                                img(src="../img/badgeInteractive.png", title="This visualisation is interactive.", height="39", style="display:block; float: right; margin-top: 10px; margin-bottom: -10px; ")
                                img(src="../img/badgeTop.png", title="This visualisation is or has been voted amongst the top 5 visualisations of this page.", height="39", style="display:block; float: right; margin-top: 10px; margin-bottom: -10px; ")

                #contentSVG(style="margin-left: -20px;")
                div#insightDescription(style="margin-top: 30;")
                    div(style="margin-top: -40px;margin-bottom: 40px; ")
                        p(style="color:rgb(9,106,156);font-style:italic")
                            | Hover over the blue line to see the birth count for the day or over the green bars for a specific month. 
                            br
                            | Hide/ display one of the dimensions by clicking on their names in the legend.
                table(style="width: 100%")
                    tr
                        td(colspan="2", style="opacity: 0.8", onmouseover="this.style.opacity='1'; ", onmouseout="this.style.opacity='0.8'; ")

                                p 
                                    strong(style='font-weight: bold;') Does when you are born matter? 
                                    br
                                    |  Based on over 200000 biographies of "notable" people with Wikipedia entries, the answer - at least for the month - is: no. 
                                    br
                                    |  However, for a specific day, one could argue that being born on the 1st March, the chances of getting a Wikipedia entry double (53.54%). In contrast, for the 26th December, you are 18% less likely to receive one. The average birth count per day is 579.2
                                    br
                                    | The general probability of ever having your biography on Wikipedia is below 1%.

                                hr
                                div.lastP
                                    div.sourceP
                                        | Source:
                                        a(title='http://dumps.wikimedia.org/enwiki/' href='http://dumps.wikimedia.org/enwiki/', style='opacity: 0.8;', onmouseover='this.style.opacity=\'0.5\';', onmouseout='this.style.opacity=\'0.8\';')  [1]

                                    div#postDate(style='float:right;')
                                        img(style='padding: 0;', src='../img/loadinfo.net.gif', height='16px', width='16px')

                                    div(style="clear: both; padding-top:20px; margin-bottom:-40px; color: rgb(54,154,104);")
                                        p(style=" color: rgb(54,154,104);")
                                            | See also:
                                            a(title='/4' href='/4', style='color: rgb(54,154,104); text-decoration: underline', onmouseover='this.style.opacity=\'0.5\';', onmouseout='this.style.opacity=\'0.8\';') Profession of Wikipeople



        script(type="text/javascript", src="../js/3.js")
        script(type="text/javascript", src="../js/allInsights.js")