html
    head
        title Daily Data Insights - About
        link(rel='image_src', href='http://d1y9yo7q4hy8a7.cloudfront.net/img/9gag-fb-pic-latest.png')
        link(rel='publisher', href='https://plus.google.com/u/0/100387325869371041986')
        link(rel='canonical', href='http://dailydatainsights.com/')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='keywords', content='data science,data visualization,data findings,interesting facts,data mining,facts,dietmar aumann')
        meta(name='description', content='Daily Data Insights brings you data findings and data visualization on topics around the globe. DDI is regularly updated and supports the ranking of articles. Check out DDI now!')
        meta(name='robots', content='noodp')
        meta(name='twitter:site', content='@DaDaInsights')
        meta(name='twitter:image', content='http://www.dailydatainsights.com/img/wikivisLogo.png')
        meta(property='og:title', content='Applied Data Science')
        meta(property='og:site_name', content='Daily Data Insights')
        meta(property='og:url', content='http://dailydatainsights.com/')
        meta(property='og:description', content='Data findings and data visualization on topics around the globe!')
        meta(property='og:type', content='blog')
        meta(property='og:image', content='http://www.dailydatainsights.com/img/wikivisLogo.png')
        meta(property='fb:app_id', content='313302612167180')

        meta(http-equiv='content-type', content='text/html;charset=utf-8')
        link(rel='stylesheet', href='../css/styleZen.css', type='text/css')
        link(rel="stylesheet", href="../css/bootstrapSubset.css")
        link(rel="shortcut icon", href="../img/favicon.ico")
        link(rel='shortcut icon', href='../commons/bootstrap-3.1.1/css/bootstrap.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
    script(type='text/javascript', src='../js/jquery.infinitescroll.js')
    script(type='text/javascript', src='../js/manual-trigger.js')
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    script(src='../commons/bootstrap-3.1.1/js/bootstrap.js', charset='utf-8')
    body
        button(style='display: none;', onclick='clickedButton2()') Add article 2
        button(style='display: none;', onclick='clickedButton1()') Add article 1
        button(style='display: none;', onclick='sortArticles()') Sort
        .container
            .top(style='text-align: !left; margin-bottom: -30px; margin-top: 10px; opacity: 0.5;', onmouseover='this.style.opacity=\'1\'; document.getElementById(\'menuItems\').style.opacity=\'1\'; document.getElementById(\'quotes\').style.display=\'none\';  document.getElementById(\'menuItems\').style.display=\'block\' ', onmouseout='this.style.opacity=\'0.5\';document.getElementById(\'menuItems\').style.opacity=\'0\'; document.getElementById(\'menuItems\').style.display=\'none\'; document.getElementById(\'quotes\').style.display=\'block\'; ')                
                
                div(style='height: 280;')
                    h1
                        a(href='/')
                            img(style='margin-bottom: 30px; margin-right: 20px;', src='../img/wikivisLogo.png', title='Daily Data Insights - Applied Data Science', height='150', width='150')
                        #menuItems(style='margin-bottom: 74px; margin-top: -40px; display: none; opacity: 0; padding-top: 20px;')
                            a#tagline(style='opacity: 0.4; color: rgb(54,154,104);') about
                            |  :: 
                            a(style='color: rgb(9,106,156);', href='/') showroom
                            |  :: 
                            a#tagline2(style='color: rgb(153,0,0);', href='/create/') create
                        blockquote#quotes(style='margin-top: -40px; padding-top: 20px; display: block;')
                            
            
            #content
                .container
                    .post
                        p
                            strong Daily Data Insights
                            |  is a platform to present, rate and share.

                        p
                            | DDI is developed by 
                            a(href='http://github.com/daumann') Dietmar Aumann
                            |  as an independent and nonprofit project. I like minimalistic design, clean visualisations and enjoy spending time on interesting data sets from around the world. You can find some of those projects in the 
                            a(href='http://www.dailydatainsights.com') showroom
                            | . While not always daily, new content is added regularly. 
                        
                        p
                            | Tools used include 
                            a(href='http://www.gnu.org/software/bash/') Bash
                            |  (mostly data extraction and transformation),  
                            a(href='http://www.r-project.org/') R
                            | , 
                            a(href='https://www.python.org/') Python
                            | , 
                            a(href='http://spark.apache.org/') Spark
                            | , 
                            a(href='https://mahout.apache.org/') Mahout
                            |  (analytics, machine learning) and the awesome 
                            a(href='http://d3js.org/') d3.js
                            |  library (data visualisation). This website is built on  
                            a(href='http://nodejs.org/') Node.js
                            |  with the help of 
                            a(href='http://expressjs.com/') Express
                            |  and 
                            a(href='http://www.mongodb.org/') MongoDB
                            | .
                        
                        p 
                            | Don't miss an update, like DDI on: 
                            a( href='http://www.facebook.com/dailydatainsights') Facebook!
                        
                        div(style="border-top: 1px solid #e7e7e7; margin-top: 30px; margin-bottom: 10px;")

                        p   I would love to hear from you.  Have suggestions for improving this website, questions, or inquiries?

                        div.addCommentForms(style="clear: both;")
                            form
                                div
                                    div
                                        input#emailSender.form-control(style="background: #f9f9f9; margin-top: 10px;",type="email", class="nameTxt", name="email",placeholder='Your email')
                                    div
                                        textarea#emailContent.form-control(style="background: #f9f9f9; margin-top: 11px;",placeholder='Your message...', rows='3', name='comment')
                                    div
                                        input.btn.btn-default.btn-outline(onclick="sendEmail()" style="margin-top: 10px;", type="submit", value="Send Email")
                        

    script(type="text/javascript", src="../js/page_about.js")
    script(type="text/javascript", src="../js/googleAnalytics.js")